@import "ndr_ui/index";

body { padding-top: 70px; } // Allow for fixed navigation.

pre.backtrace {
  overflow: auto;

  .trace-item {
    display: block;
    font-weight: bold;

    &.stack-only {
      font-weight: normal;
      color: #999;
    }
  }
}
